/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/Channel.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/ChannelPtr.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/ChannelPtr.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/Image.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/ImagePtr.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/IPblur.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/IPdefs.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/IP.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/IPmmch.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/header/IPtoUI.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/linux/lib/libIP_d.a
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/Channel.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/ChannelPtr.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/ChannelPtr.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/Image.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/ImagePtr.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/IPblur.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/IPdefs.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/IP.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/IPmmch.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/header/IPtoUI.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/mac/lib/libIP_d.a
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/Channel.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/ChannelPtr.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/ChannelPtr.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/Image.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/ImagePtr.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/IPblur.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/IPdefs.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/IP.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/IPmmch.tpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/header/IPtoUI.h
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/IP/win/lib/IP_d.lib
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/Makefile
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_Contrast.cpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_Dummy.cpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_MainWindow.cpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_Threshold.cpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/Contrast.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/Dummy.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/ImageFilter.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/main.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/MainWindow.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_Contrast.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_Dummy.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_MainWindow.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_Threshold.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/Threshold.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/qip
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_Quantization.cpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_Quantization.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/Quantization.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/moc/moc_Gamma.cpp
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/Gamma.o
/build-qip-Desktop_Qt_5_5_0_GCC_64bit-Debug/obj/moc_Gamma.o
